<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" href="./maddy.png" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>EXPRESS/STRAPI APP FOR PLATFORM.SH</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
